@keyframes fadeInScale {
    from {
        opacity: 0;
        transform: scale(0.2);
    }
    80% {
        transform: scale(1.3);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

*, *:focus, *:active {
    outline: none !important;
}

.chat-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    outline: none;
    animation: fadeInScale 0.4s;
}

.chat-btn .unread-discussions {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 1.4rem;
    animation: fadeInScale 0.2s 0.4s both;
}

.chat-card {
    position: fixed;
    right: 20px;
    bottom: 120px;
    height: 450px;
    width: 390px;
    max-width: calc(100vw - 25px);
    transition: all 0.3s ease-out;
    opacity: 1;
    transform: translateY(0);
}

.chat-card.hide {
    opacity: 0;
    pointer-events: none;
    transform: translateY(15px);
}

.messages-users-container {
    overflow-x: hidden;
    width: 100%;
    height: calc(100% - 4rem);
}

.chat-card-messages, .chat-card-users {
    position: absolute;
    top: 0;
    width: 100%;
    transition: 0.35s ease-out;
}

.chat-card-users {
    left: 0;
}

.chat-card-messages {
    left: 100%;
    min-height: 90%;
    padding-bottom: 1rem;
}

.chat-card-users.slide,
.chat-card-messages.slide {
    transform: translateX(-100%);
}

.chat-card-message {
    width: 90%;
}

.chat-card-message p {
    border-radius: 30px;

}

.chat-card-message-form-container {
    position: sticky;
    bottom: 15px;
    width: 100%;
    left: 0;
}